/* Default Light Mode */
body {
  background-color: #ffffff;
  color: #333333;
}

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap");

header {
  text-align: center;
  background-color: #f0f0f0;
  padding: 10px;
}

marquee {
  font-family: 'Impact', sans-serif;
  font-size: 3vw; /* Menggunakan ukuran font responsif */
  color: black;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
    width: 350px;
    height: 350px;
    border-radius: 50%;
}

#clock {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  marquee {
    font-size: 5vw; /* Ukuran font lebih besar untuk layar kecil */
  }
}

